[Desktop Entry]
Name=Docker-Spotify
GenericName=Spotify
Comment=Listen to music using Spotify
Icon=spotify.svg
Exec=/usr/local/bin/docker-spotify.sh
TryExec=/usr/local/bin/docker-spotify.sh
Terminal=false
Type=Application
Categories=Audio;AudioVideo;Player;Qt;
MimeType=x-scheme-handler/spotify;
